@media screen and (min-width:100px) and (max-width:370px) {
    .sidemenu a
    {
 font-size: 15px;
    }
    .sidemenu
    {
    
    width: 180px;
    height: 330px;}

    .sidemenu ul
{
    padding: 0 0 0 20px;
   
   margin-top: 40px;
  
   


}
    .infokauf
    {
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        font-size: 5px;
    }
   
    .logomenu
    {
        margin-top: 10px;
        margin-left: 10px;
    }
    
    .bootonwagon
    {
       left: 30px;
        width: 10px;
        height: 10px;
        border-radius: 10px;
        
        
        

    }
    
    .wagenmenu a {
        margin-left: 5px;
        font-size: 5px;
    }
    .wagenmenu
    { width: 150px;
        left: 100px;
        top: 70px; 
       
    }
    
    .wagenmenu li
    
    {margin-top: 10px;
        
       
        
        width:150px;
        height: auto;
        padding: 0;
    list-style-type: none;}
    .avataritemwmenu
    {
        
       width: 20px;
       height: 20px;
       background-color: black;
     display: inline-block;
    }

 
    .kaufenwagen {
       

        left: 50px;
       
        width: 7.5vmin;
        height: 7.5vmin;
      

    }

    .shop-up0-container {

       
        padding-top: 50px;
        
    }

    .element-up0 {

        width: 120px;
        height: 190px;
       


    }

    #item1 {
        margin-left: 10px;
    }

    #item2 {
        margin-right: 10px;
    }

    .element-mitte {
       
        width: 90px;
        height: 150px;
        

    }

    .shop-mit-container {
       
        margin-top: 50px;
        margin-bottom: 40px;
        


    }

    .big-shop-photo {
        
        height: 55vmin;
        margin-bottom: 50px;
    }
    
}

@media screen and (min-width:371px) and (max-width:430px) {
    .sidemenu a
    {
 font-size: 15px;
    }
    .sidemenu
    {
    
    width: 200px;
    height: 350px;}

    .sidemenu ul
    {
        padding: 0 0 0 20px;
       
       margin-top: 40px;
      
       
    
    
    }
    .infokauf
    {
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        font-size: 7px;
    }
    
    .logomenu
    {
        margin-top: 20px;
    }
    
    .bootonwagon
    {
       left: 40px;
        width: 20px;
        height: 20px;
        border-radius: 10px;
        
        
        

    }
    
    .wagenmenu a {
        margin-left: 5px;
        font-size: 5px;
    }
   
    .wagenmenu
    { width: 230px;
        right: 70px;
        top: 70px; 
    }

    
    .wagenmenu li
    {margin-top: 20px;
        
        
        
        width:230px;
        height: auto;
        padding: 0;
    list-style-type: none;}

    .avataritemwmenu
    {
        
        width: 50px;
        height: 50px;
        background-color: black;
      display: inline-block;
     }

    .big-shop-photo {
       
        height: 55vmin;
        margin-bottom: 50px;
    }

    .kaufenwagen {
        

        left: 50px;
        
        width: 7.5vmin;
        height: 7.5vmin;
       

    }

    .shop-up0-container {

        
        padding-top: 50px;
       
    }

    .element-up0 {

        width: 150px;
        height: 230px;
       


    }

    #item1 {
        margin-left: 10px;
    }

    #item2 {
        margin-right: 10px;
    }

    .element-mitte {
       
        width: 110px;
        height: 175px;
        

    }

    .shop-mit-container {
        
        margin-top: 50px;
        margin-bottom: 20px;
       


    }
    
}

@media screen and (min-width:431px) and (max-width:518px) {
    .bootonwagon
    {
       left: 40px;
       margin-left: 15px;
    width: 30px;
    height: 30px;

    }

    .kaufenwagen {
        
        bottom: 2px;
        left: 80px;
       
        width: 7.5vmin;
        height: 7.5vmin;
      

    }

    .shop-up0-container {

        
        padding-top: 50px;
        
    }

    .element-up0 {

        width: 180px;
        height: 280px;
        


    }

    #item1 {
        margin-left: 10px;
    }

    #item2 {
        margin-right: 10px;
    }
    .wagenmenu
    {
        right: 110px;
        top: 70px; 
    }

}

@media screen and (min-width:519px) and (max-width:620px) {
    .bootonwagon
    {
       left: 40px;
       margin-left: 15px;
    width: 35px;
    height: 35px;

    }
    .kaufenwagen {
      

        left: 100px;
       
       
        width: 7.5vmin;
        height: 7.5vmin;
       

    }

    .shop-up0-container {

        
        padding-top: 50px;
        
    }

    .element-up0 {

        width: 175px;
        height: 255px;
        


    }

    #item1 {
        margin-left: 10px;
    }

    #item2 {
        margin-right: 10px;
    }
    .wagenmenu
    {
        right: 140px;
        top: 70px; 
    }
}

@media screen and (min-width:621px) and (max-width:720px) {
    .bootonwagon
    {
       left: 40px;
       margin-left: 15px;
    width: 35px;
    height: 35px;

    }

    .kaufenwagen {
        

        left: 160px;
        
        width: 7.5vmin;
        height: 7.5vmin;
        

    }

    .shop-up0-container {

        
        padding-top: 50px;
       
    }

    .element-up0 {

        width: 235px;
        height: 325px;
        


    }

    #item1 {
        margin-left: 10px;
    }

    #item2 {
        margin-right: 10px;
    }
    .wagenmenu
    {
        right: 130px;
        top: 70px; 
    }
}

@media screen and (min-width:721px) and (max-width:765px) {

    .bootonwagon
    {
       left: 40px;
       margin-left: 15px;
    width: 40px;
    height: 40px;

    }

    .kaufenwagen {
      

        left: 180px;
       
        width: 7.5vmin;
        height: 7.5vmin;
       

    }

    .shop-up0-container {

        
        padding-top: 50px;
       
    }

    .element-up0 {

        width: 275px;
        height: 365px;
        


    }

    #item1 {
        margin-left: 10px;
    }

    #item2 {
        margin-right: 10px;
    }

    .element-mitte {
    
        width: 190px;
        height: 290px;
        

    }

    .shop-mit-container {
      
        margin-top: 25px;
        margin-bottom: 50px;
       


    }
    .wagenmenu
    {
        right: 140px;
        top: 70px; 
    }
}

@media screen and (min-width:765px) and (max-width:880px) {

    .bootonwagon
    {
       left: 40px;
       margin-left: 15px;
    width: 40px;
    height: 40px;

    }

    .big-shop-photo {
        
        height: 55vmin;
        margin-bottom: 100px;
    }

    .kaufenwagen {
        

        left: 220px;
        
        border: 0;
        width: 7.5vmin;
        height: 7.5vmin;
        

    }

    .shop-up0-container {

    
        padding-top: 50px;
       
    }

    .element-up0 {

        width: 320px;
        height: 440px;
        


    }

    #item1 {
        margin-left: 10px;
    }

    #item2 {
        margin-right: 10px;
    }

    .element-mitte {
        
        width: 210px;
        height: 320px;
        

    }

    .shop-mit-container {
        
        margin-top: 25px;
        margin-bottom: 70px;
        


    }
    .wagenmenu
    {
        right: 160px;
        top: 70px; 
    }

}

@media screen and (min-width:881px) and (max-width:999px) {
    .bootonwagon
    {
       left: 40px;
       margin-left: 15px;
    width: 40px;
    height: 40px;

    }
    .big-shop-photo {
       
        height: 50vmin;
        margin-bottom: 50px;
    }

    .kaufenwagen {
        

        left: 240px;
       
       
        width: 7.5vmin;
        height: 7.5vmin;
        

    }

    .shop-up0-container {

        
        padding-top: 90px;
        
    }

    .element-up0 {

        width: 375px;
        height: 525px;
        


    }

    #item1 {
        margin-left: 10px;
    }

    #item2 {
        margin-right: 10px;
    }

    .element-mitte {
       
        width: 250px;
        height: 350px;
        

    }

    .shop-mit-container {
        
        margin-top: 25px;
        margin-bottom: 100px;
       


    }
    .wagenmenu
    {
        right: 190px;
        top: 70px; 
    }
}

@media screen and (min-width:999px) and (max-width:1099px) {
    
    .infokauf
    {
        margin-left:  15px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        font-size: 20px;
    }
.bootonwagon
    {
       left: 40px;
       margin-left: 15px;
    width: 40px;
    height: 40px;

    }
    
    .big-shop-photo {

        height: 70vmin;
        margin-bottom: 100px;
    }

    .kaufenwagen {
        

        left: 300px;

        

    }

    .shop-up0-container {


        padding-top: 50px;
       
    }

    .element-up0 {

        width: 325px;
        height: 470px;



    }

    #item1 {
        margin-left: 100px;
    }

    #item2 {
        margin-right: 100px;
    }

    .element-mitte {

        width: 280px;
        height: 400px;
       

    }

    .shop-mit-container {
       
        margin-top: 25px;
        margin-bottom: 100px;



    }
    .wagenmenu
    {
        right: 170px;
        top: 70px; 
    }
}

@media screen and (min-width:1100px) and (max-width:1230px) {
   
    .bootonwagon
    {
       left: 40px;
       margin-left: 15px;
    width: 40px;
    height: 40px;

    }
   
    .big-shop-photo {

        height: 70vmin;
    }

    .kaufenwagen {
    

        left: 330px;
        width: 7.5vmin;
        height: 7.5vmin;
       

    }

    .shop-up0-container {


        padding-top: 50px;
        
    }

    .element-up0 {

        width: 325px;
        height: 470px;
        


    }

    #item1 {
        margin-left: 150px;
    }

    #item2 {
        margin-right: 150px;
    }

    .element-mitte {

        width: 280px;
        height: 400px;
        

    }
    .wagenmenu
    {
        right: 192px;
        top: 70px; 
    }
}

@media screen and (min-width:1231px) and (max-width:1301px) {
    .bootonwagon
    {
       left: 40px;
       margin-left: 15px;
    width: 40px;
    height: 40px;

    }
    .kaufenwagen {


        left: 400px;
       
        width: 7.5vmin;
        height: 7.5vmin;
        

    }

    .shop-up0-container {


        padding-top: 50px;
        
    }

    .element-up0 {

        width: 475px;
        height: 600px;


    }

    #item1 {
        margin-left: 10px;
    }

    #item2 {
        margin-right: 10px;
    }
    .wagenmenu
    {
        right: 180px;
        top: 70px; 
    }
}

@media screen and (min-width:1365px) and (max-width:1400px) {
    .bootonwagon
    {
       left: 40px;
       margin-left: 15px;
    width: 40px;
    height: 40px;

    }
    .kaufenwagen {


        left: 440px;
        width: 7.5vmin;
        height: 7.5vmin;
        

    }
    .wagenmenu
    {
        right: 190px;
        top: 70px; 
    }
}

@media screen and (min-width:1302px) and (max-width:1364px) {
    .bootonwagon
    {
       left: 40px;
       margin-left: 15px;
    width: 40px;
    height: 40px;

    }
    .big-shop-photo {

        height: 65vmin;
        margin-bottom: 150px;
    }

    .kaufenwagen {
        left: 440px;
        width: 7.5vmin;
        height: 7.5vmin;
        

    }

    .shop-up0-container {

        padding-top: 50px;
        
    }

    .element-up0 {

        width: 375px;
        height: 510px;
       


    }

    #item1 {
        margin-left: 200px;
    }

    #item2 {
        margin-right: 200px;
    }

    .shop-mit-container {
        
        margin-top: 25px;
        margin-bottom: 250px;


    }

    .element-mitte {
        
        width: 330px;
        height: 470px;
        

    }
    .wagenmenu
    {
        right: 150px;
        top: 70px; 
    }
}

@media screen and (min-width:1401px) and (max-width:1500px) {
    .bootonwagon
    {
       left: 40px;
       margin-left: 15px;
    width: 40px;
    height: 40px;

    }
    .kaufenwagen {
        left: 490px;
         width: 7.5vmin;
        height: 7.5vmin;
        

    }
    .wagenmenu
    {
        right: 170px;
        top: 70px; 
    }
}

@media screen and (min-width:1501px) and (max-width:1600px) {
   .sidemenu a
   {
font-size: 30px;
   }
    .bootonwagon
    {
       left: 40px;
       margin-left: 15px;
    width: 40px;
    height: 40px;

    }

    .kaufenwagen {
        left: 465px;
        width: 7.5vmin;
        height: 7.5vmin;
       

    }
    .wagenmenu
    {
        right: 250px;
        top: 70px; 
    }
}

@media screen and (min-width:1601px) and (max-width:1700px) {
    .sidemenu a
   {
font-size: 30px;
   }
    .bootonwagon
    {
       left: 40px;
       margin-left: 15px;
    width: 40px;
    height: 40px;

    }
    .kaufenwagen {


        left: 570px;
        
        width: 7.5vmin;
        height: 7.5vmin;
      

    }
    .wagenmenu
    {
        right: 200px;
        top: 70px; 
    }
}

@media screen and (min-width:1701px) and (max-width:1800px) {
    .sidemenu a
   {
font-size: 30px;
   }
    .bootonwagon
    
    {
       left: 40px;
       margin-left: 15px;
    width: 40px;
    height: 40px;

    }
    .kaufenwagen {
      

        left: 600px;
       
        width: 7.5vmin;
        height: 7.5vmin;
        

    }
    .wagenmenu
    {
        right: 200px;
        top: 70px; 
    }
}

@media screen and (min-width:1801px) and (max-width:1900px) {
    .sidemenu a
   {
font-size: 30px;
   }
    .bootonwagon
    {
       left: 40px;
       margin-left: 15px;
    width: 40px;
    height: 40px;

    }
    .kaufenwagen {
        

        left: 670px;

       
        width: 7.5vmin;
        height: 7.5vmin;
        

    }
    .wagenmenu
    {
        right: 160px;
        top: 70px; 
    }
}

@media screen and (min-width:1901px) and (max-width:2000px) {
    .sidemenu a
   {
font-size: 30px;
   }
    .bootonwagon
    {
       left: 40px;
       margin-left: 15px;
    width: 40px;
    height: 40px;

    }
    .kaufenwagen {
        

        left: 620px;
       
        width: 7.5vmin;
        height: 7.5vmin;
        

    }

    .shop-up0-container {
        padding-top: 150px;
        
    }

    .element-up0 {

        width: 775px;
        height: 1055px;
        


    }

    #item1 {
        margin-left: 10px;
    }

    #item2 {
        margin-right: 10px;
    }

    .element-mitte {

        width: 450px;
        height: 650px;
        

    }

    .shop-mit-container {
        
        margin-top: 25px;
        margin-bottom: 150px;



    }

    .wagenmenu
    {
        right: 260px;
        top: 70px; 
    }
}


@media screen and (min-width:2001px) and (max-width:2100px) {
    .sidemenu a
   {
font-size: 30px;
   }
    .bootonwagon
    {
       left: 40px;
       margin-left: 15px;
    width: 40px;
    height: 40px;

    }
    .kaufenwagen {

        left: 680px;
        width: 7.5vmin;
        height: 7.5vmin;
        

    }

    .shop-up0-container {


        padding-top: 150px;
        
    }

    .element-up0 {

        width: 775px;
        height: 1055px;

        


    }

    #item1 {
        margin-left: 10px;
    }

    #item2 {
        margin-right: 10px;
    }

    .element-mitte {

        width: 550px;
        height: 750px;
        

    }

    .shop-mit-container {
        
        margin-top: 25px;
        margin-bottom: 150px;



    }

    .wagenmenu
    {
        right: 240px;
        top: 70px; 
    }
}

@media screen and (min-width:2101px) and (max-width:2170px) {
    .sidemenu a
   {
font-size: 30px;
   }
    .bootonwagon
    {
       left: 40px;
       margin-left: 15px;
    width: 40px;
    height: 40px;

    }
    .kaufenwagen {


        left: 720px;
        width: 7.5vmin;
        height: 7.5vmin;
        

    }

    .shop-up0-container {


        padding-top: 150px;
       
    }

    .element-up0 {

        width: 775px;
        height: 1055px;
    }

    #item1 {
        margin-left: 10px;
    }

    #item2 {
        margin-right: 10px;
    }
    .wagenmenu
    {
        right: 240px;
        top: 70px; 
    }

}

@media screen and (min-width:2171px) and (max-width:2270px) {
    .sidemenu a
   {
font-size: 30px;
   }
    .bootonwagon
    {
       left: 40px;
       margin-left: 15px;
    width: 40px;
    height: 40px;

    }
    .kaufenwagen {


        left: 760px;
        width: 7.5vmin;
        height: 7.5vmin;
        

    }

    .shop-up0-container {


        padding-top: 150px;
       
    }

    .element-up0 {

        width: 775px;
        height: 1055px;
    }

    #item1 {
        margin-left: 10px;
    }

    #item2 {
        margin-right: 10px;
    }
    .wagenmenu
    {
        right: 240px;
        top: 70px; 
    }

}
@media screen and (min-width:2271px) and (max-width:2440px) {
    .sidemenu a
   {
font-size: 30px;
   }
    .bootonwagon
    {
       left: 40px;
       margin-left: 15px;
    width: 40px;
    height: 40px;

    }
    .kaufenwagen {


        left: 790px;
        width: 7.5vmin;
        height: 7.5vmin;
        

    }

    .shop-up0-container {


        padding-top: 150px;
       
    }

    .element-up0 {

        width: 775px;
        height: 1055px;
    }

    #item1 {
        margin-left: 10px;
    }

    #item2 {
        margin-right: 10px;
    }
    .wagenmenu
    {
        right: 300px;
        top: 70px; 
    }

}
@media screen and (min-width:2441px) and (max-width:2560px) {
    .sidemenu a
   {
font-size: 30px;
   }
    .bootonwagon
    {
       left: 40px;
       margin-left: 15px;
    width: 40px;
    height: 40px;

    }
    .kaufenwagen {


        left: 790px;
        width: 7.5vmin;
        height: 7.5vmin;
        

    }

    .shop-up0-container {


        padding-top: 150px;
       
    }

    .element-up0 {

        width: 775px;
        height: 1055px;
    }

    #item1 {
        margin-left: 10px;
    }

    #item2 {
        margin-right: 10px;
    }
    .wagenmenu
    {
        right: 370px;
        top: 70px; 
    }

}
@media screen and (min-width:2561px) and (max-width:2900px) {
    .sidemenu a
   {
font-size: 30px;
   }
    .bootonwagon
    {
       left: 40px;
       margin-left: 15px;
    width: 40px;
    height: 40px;

    }
    .kaufenwagen {


        left: 980px;
        width: 7.5vmin;
        height: 7.5vmin;
        

    }

    .shop-up0-container {


        padding-top: 150px;
       
    }

    .element-up0 {

        width: 775px;
        height: 1055px;
    }

    #item1 {
        margin-left: 10px;
    }

    #item2 {
        margin-right: 10px;
    }
    .wagenmenu
    {
        right: 370px;
        top: 70px; 
    }

}