body {
    margin-top: 20px;
    background-color: aliceblue;

}

header {

    
    height: 70px;
    background-color: azure;
    display: flex;
    justify-content: space-between;
    justify-items: flex-start;
    align-items: center;
    
   
}

header a {
    
    margin-left: 50px;
    font-size: 2vmax;
    color: rgb(0, 0, 0);
    padding: 10px;
    border-radius: 10px;

}


